1. What are data structures, and why are they important?
Data structures are ways of organizing and storing data so it can be accessed and
modified e6iciently. They’re important because the right data structure makes programs
faster, easier to manage, and more memory-e6icient. For example, lists work well for
ordered collections, while dictionaries are great for key-value lookups.

2. Explain the di;erence between mutable and immutable data types with
examples.
Mutable data types can be changed after they’re created, while immutable ones
cannot. For example, lists are mutable:
my_list = [1, 2, 3]
my_list[0] = 10 # list changes
Strings are immutable:
s = "hello"
s[0] = "H" # this would cause an error

3. What are the main di;erences between lists and tuples in Python?
• Lists are mutable, while tuples are immutable.
• Lists are slower in performance compared to tuples.
• Tuples are often used when data should not be changed, while lists are used for
dynamic collections.

4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs. Each key must be unique and immutable,
and it maps directly to a value. Internally, dictionaries use a hash table to quickly find
values using their keys.

5. Why might you use a set instead of a list in Python?
Sets automatically remove duplicate values and provide very fast membership checks.
For example, if you want to store unique student IDs and check if an ID exists, a set
works better than a list.

6. What is a string in Python, and how is it di;erent from a list?
A string is a sequence of characters. Unlike lists, strings are immutable, meaning you
can’t change a character in place. Lists can hold di6erent data types and can be
modified, while strings always hold characters and stay fixed once created.

7. How do tuples ensure data integrity in Python?
Since tuples are immutable, the data inside them cannot be changed after creation.
This ensures the data remains consistent throughout the program, which is useful when
storing fixed records like coordinates or configuration values.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that stores data in key-value pairs using a hash function
to quickly locate keys. Python dictionaries are built on hash tables, which is why
dictionary lookups are very fast.

9. Can lists contain di;erent data types in Python?
Yes, lists can hold elements of di6erent types. For example:
my_list = [10, "hello", 3.14, True]

10. Explain why strings are immutable in Python.
Strings are immutable to ensure consistency and security, especially when used in
multiple parts of a program. Immutability also allows Python to optimize memory usage
by reusing string objects internally.

11. What advantages do dictionaries o;er over lists for certain tasks?
Dictionaries are faster for looking up values when you know the key. Instead of
searching through a list, a dictionary can retrieve data directly through the key, which
makes it ideal for tasks like managing user records or counting word frequencies.

12. Describe a scenario where using a tuple would be preferable over a list.
Tuples are preferable when the data should not change, such as storing the latitude and
longitude of a city. Since coordinates don’t need modification, a tuple ensures data
integrity.

13. How do sets handle duplicate values in Python?
Sets automatically remove duplicates. If you add the same value multiple times, it will
only appear once in the set.

14. How does the “in” keyword work di;erently for lists and dictionaries?
• For lists, in checks if a value exists in the list.
• For dictionaries, in checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
No, you cannot modify elements of a tuple because tuples are immutable. Once a tuple
is created, its contents are fixed.

16. What is a nested dictionary, and give an example of its use case.
A nested dictionary is a dictionary that contains another dictionary as a value. For
example:
students = {
"Alice": {"age": 20, "grade": "A"},
"Bob": {"age": 22, "grade": "B"}
}
This is useful for storing structured data, like student records.

17. Describe the time complexity of accessing elements in a dictionary.
Accessing elements in a dictionary is generally O(1), meaning it takes constant time
regardless of the size of the dictionary. This is because dictionaries use hash tables
internally.

18. In what situations are lists preferred over dictionaries?
Lists are better when order matters, or when you only need a simple sequence of
values. For example, storing a list of numbers to process in order.

19. Why are dictionaries considered unordered, and how does that a;ect data
retrieval?

Before Python 3.7, dictionaries didn’t maintain insertion order, so items could appear in
any order when iterating. Even though modern Python preserves insertion order,
dictionaries are still accessed by key, not position. This means you can’t rely on numeric
indexing like you can with lists.

20. Explain the di;erence between a list and a dictionary in terms of data retrieval.
• Lists retrieve items by index position.
• Dictionaries retrieve items by key.
If you need positional access, use a list. If you need quick lookups by a unique identifier,
use a dictionary.

In [ ]:
# Q1. Write a code to create a string with your name and print it
name = "Sindhu"
print(name)

Sindhu

In [ ]:
# Q2. Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [ ]:
# Q3. Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
# Q4. Write a code to convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [ ]:
# Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [ ]:
# Q6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
# Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
# Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [ ]:
# Q10. Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [ ]:
# Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
# Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [ ]:
# Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
print(min(t))

5

In [ ]:
# Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [ ]:
# Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

In [ ]:
# Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [ ]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
# Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
# Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [ ]:
# Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [ ]:
# Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d = {"name": "John", "age": 25, "city": "New York"}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
# Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [ ]:
# Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [ ]:
# Q26. Write a code to create a list, a tuple, and a dictionary, and print them all
lst = [1, 2, 3]
t = (4, 5, 6)
d = {"a": 1, "b": 2}
print(lst, t, d)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [ ]:
# Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[21, 24, 33, 65, 97]

In [ ]:
# Q28. Write a code to create a list with strings and print the element at the third index
lst = ["apple", "banana", "cherry", "date"]
print(lst[3])

date

In [ ]:
# Q29. Write a code to combine two dictionaries into one and print the result
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Q30. Write a code to convert a list of strings into a set
lst = ["apple", "banana", "cherry", "apple"]
s = set(lst)
print(s)

{'cherry', 'apple', 'banana'}